# Core
numpy>=2.0.0
opencv-python>=4.8.0

# Deep Learning
tensorflow>=2.16.0

# Metrics
scikit-image>=0.21.0

# Visualisation
matplotlib>=3.7.0

# App
gradio>=4.0.0

# Utilities
tqdm>=4.65.0
python-dotenv>=1.0.0